
/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* IMPORT PRIORITAIRE */

@import url('./others/text.css');

/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* IMPORT POUR LES COMPOSANTS */

@import url('./components/buttons.css');
@import url('./components/card.css');
@import url('./components/form.css');
@import url('./components/navigation.css');


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* IMPORT POUR LES PAGES */

@import url('./pages/home.css');
@import url('./pages/page.css');



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* AUTRE */

body {
    background-image: var(--background);
    padding: 0;
    margin: 0;
}


.separator {
    width: 85%;
    opacity: 1;
    border: var(--border-hr);
}


main .container {
    background-color: var(--second-color);
    border-right: var(--border-special-dark-solid);
    border-left: var(--border-special-dark-solid);
}

