

body, main {
    font-family: var(--main-font);
    color: var(--dark-font);
}

.siteTitle {
    font-family: var(--special-font);
    color: var(--special-dark-color);
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--special-font);
}

h1 {
    font-size: 3rem;
    background-color: var(--first-color);
}

h2 {
    background-color: var(--special-dark-color);
}

h2 span {
    color: var(--light-font);
}

a {
    text-decoration: none;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */


@media (min-width: 768px) and (max-width: 1200px)  {

    .siteTitle {
    font-size: 3rem;
}

    h2 {
        font-size: 2.3rem;
    }

    h2 span {
        background-color: var(--second-color);
        color: var(--special-dark-color);
    }
}


@media (min-width: 1200px) {

    .siteTitle {
    font-size: 3rem;
}

    h2 {
        font-size: 2.5rem;
    }

    h2 span {
        background-color: var(--second-color);
        color: var(--special-dark-color);
    }
}